.rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 10px 30px 10px;
}
.rooms__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px 15px 0 15px;
}
.rooms__error,
.rooms__loading {
    font-size: 5rem;
}
